#output, #canvas {
    display: none;
}

.camera {
    position: fixed;
    top: 20px;
    right: 20px;
    padding: 30px;
    background-color: darkgrey;
    z-index: 10;
}

video {

    border: 10px solid white;
    transition-duration: 500ms;
    transition-timing-function: ease-in-out;
    
}

.flash {
    border: 10px solid  rgb(51, 120, 151);
}

body {
    background-color: rgb(243, 243, 243);
    color: rgb(70, 112, 15);
    font-size: large;
}

#right-col {
    float: right;
    padding-top: 500px;
}
#kozeledik-container {
    position: absolute;
    top: 530px;
    right: 20px;
}

li {
    padding: 10px;
}
input {
    height: 50px;
    width: 200px;
}
span, input {
    display: table-cell;
}

#toplink {
    position: fixed;
    bottom:0;
    right: 0;
    background-color: lightgreen;
    width: 100px;
    height: 70px;
    font: xx-large bold;
    text-align: center;
}



